<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css
">
  <style type="text/css">
    body {
        padding-top: 40px;
    }
    .color-red {
      color: red;
    }
    .color-blue {
      color: blue;
    }
    .is-loading {
      background-color: red;
    }
  </style>
</head>
<body>
  <div id='app' class='container'>
<!--     <input type="text" id='input' v-model='message'>
    <p>The value of the input is: {{message}}.</p> -->
<!--     <ul>
      <li v-for='name in names' v-text='name'></li>
    </ul>
    <input type="text" id='input' v-model='newName'> -->
    <!-- <button @click="addName">add name</button> -->
    <!-- <button @click='method' :title='title'>Hover over me!</button> -->
    <!-- <button :class="{'is-loading': isLoading}" @click="toggleClass">Click me!</button> -->
    <!-- <button :disabled="active" @click='toggleClass'>Click me!</button> -->
    <!-- <h1>{{ reversedMessage }}</h1> -->
<!--     <h2>All Tasks</h2>
    <ul>
      <li v-for="task in tasks"><input type="checkbox" v-model='task.completed'>{{task.description}}</li>
    </ul>
    <hr>
    <h2>Completed Tasks</h2>
    <ul>
      <li v-for='task in completedTasks' v-text='task.description'></li>
    </ul>
    <hr>
    <h2>Incomplete Tasks</h2>
    <ul>
      <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul> -->



    <!-- <welcome></welcome> -->
<!--     <h1>All tasks</h1>
    <task-list></task-list>
    <hr>
    <h1>Completed Tasks</h1>
    <completed-tasks></completed-tasks>
    <hr> -->
    <!-- <h1>Incomplete Tasks</h1> -->


    <message title='Hello World!' body='this is message from the World'></message>

    <message title='Hello Universer!' body='this is message from the Universe'></message>



  </div>

  <script src='https://unpkg.com/vue@2.4.4/dist/vue.js'></script>

  <script src='main.js'></script>
</body>
</html>
