<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    .color-red {
      color: red;
    }
    .color-blue {
      color: blue;
    }
    .is-loading {
      background-color: red;
    }
  </style>
</head>
<body>
  <div id='app'>
<!--     <input type="text" id='input' v-model='message'>
    <p>The value of the input is: {{message}}.</p> -->
<!--     <ul>
      <li v-for='name in names' v-text='name'></li>
    </ul>
    <input type="text" id='input' v-model='newName'> -->
    <!-- <button @click="addName">add name</button> -->
    <!-- <button @click='method' :title='title'>Hover over me!</button> -->
    <!-- <button :class="{'is-loading': isLoading}" @click="toggleClass">Click me!</button> -->
    <button :disabled="active" @click='toggleClass'>Click me!</button>
  </div>

  <script src='https://unpkg.com/vue@2.4.4/dist/vue.js'></script>
  <script>

    var app = new Vue({
      el: '#app',
      data: {
        newName: '',
        // message: 'Hello World'
        names: [ "Joe", "Mary", "Jane", 'Jack'],
        title: 'Now the title is being set through javascript',
        className: 'color-red',
        isLoading: false,
        active: false

      },
      // all ways keep methods nested inside methods object
      methods: {
        addName() {
          this.names.push(this.newName);
          this.newName = '';
        },
        toggleClass() {
          this.active = true;
        }
      }
    })



  </script>
</body>
</html>
